PORT=4000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_SECRET_KEY=your_cloudinary_secret_key
JWT_SECRET=your_jwt_secret_key_here
